/*
* Criado e codado por nyoonki (Guilherme)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif !important;
}
.invoice {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.payment {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.is-main {
    width: 40vmin;
    border-top: 2px solid #3a4454 !important;
}
.box-head {
    padding: 5px;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 30px;
}
.is-box-head-title {
    color: #3a4454 !important;
    margin-bottom: 10px;
    user-select: none;
}
.is-pay {
    outline: none !important;
    user-select: none !important;
    margin-top: 20px;
    color: white !important;
    background-color: #6b4e71 !important;
}
.is-ok {
    outline: none !important;
    user-select: none !important;
    color: white !important;
    background-color: #6b4e71 !important;
}
.input {
    margin-bottom: 20px;
}
.box-body {
    user-select: none;
}
#modal{
    text-align: center;
}
#modal button{
    margin: 0px auto;
}
.card-wrapper{
    padding: 0px !important;
    margin-left: -6px;
}